################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Nuevo documento de texto.txt
/EntityFramework/Proyecto Signal/Frontend/ProyectoSignal
/.vs
/E-Commerce/Backend/internal_logs
/TestFluent
/E-Commerce/Backend/logs
