.cart-checkout-container{
    position: sticky;
    top: 0;
    background-color: white;
    display:  flex;
    flex-direction: column;

    .subtotal, .shipping-price, .total{
        padding: 10px 16px 10px 16px;
        display:  flex;
        justify-content: space-between;
        font-size: 0.8rem;
    }

    .subtotal{
        margin-top: 8px;
    }

    .total{
        font-size: 1rem;
        p{
            font-weight: 500;
        }
    }
}