<section class="confirm-container">
    <h1 class="title">Muchas gracias por tu compra!</h1>
    <p>Puedes hacer el seguimiento de tu pedido <a href="#">aqui</a> con el codigo que te ha llegado a tu correo.</p>

    <button routerLink="/shop" class="button-principal">Ir al Shop</button>
    <a href="">Ir a Mis compras</a>

    <div class="social">
        <h2>Siguenos en nuestras redes para que no te pierdas ninguna novedad</h2>
        <div class="logos">
            <button type="button">      
                <i class="fa-brands fa-facebook"></i>
            </button>
            <button type="button">      
                <i class="fa-brands fa-twitter"></i>
            </button>
            <button type="button">      
                <i class="fa-brands fa-instagram"></i>
            </button>
            <button type="button">      
                <i class="fa-brands fa-youtube"></i>
            </button>
        </div>
    </div>
</section>