<section *ngIf="product" class="product-container">
    <div class="image">
        <img class="product-image" src="../../../assets/images/headphone.png" alt="">
    </div>
    <div class="product-info">
        <div class="title">
            <h1 class="product-title">{{product.title}}</h1>
            <button type="button" class="favorite"><i class="fa-solid fa-heart"></i></button>
        </div>

        <span class="price">{{product.price | currency}}</span>
        <p class="description">
            <!-- Audífono:
            Transductor: 50 mm
            Respuesta de frecuencia: 20Hz-20KHz
            Impedancia: 39 ohmios (pasiva), 5 kilohmios (activa)
            Sensibilidad: 107 +/-3 dB

            Micrófono:
            Patrón de captación de micrófono: Cardioide (unidireccional)
            Tamaño: 6 mm
            Respuesta de frecuencia: 100 Hz–20 kHz

            Micrófono:
            Patrón de captación de micrófono: Cardioide (unidireccional)
            Tamaño: 6 mm
            Respuesta de frecuencia: 100 Hz–20 kHz

            Dimensiones:
            Altura: 172 mm
            Ancho: 81,7 mm
            Profundidad: 182 mm
            Peso (sin cable): 280 g
            Longitud del cable: 2 m

            Garantía: Oficial Logitech 12 Meses / 0800-555-3284 o support.logitech.com
            Web Oficial: Clic Aquí -->
            {{product.description}}
        </p>
        <div class="color-selector">
            <label class="color-box">
                <input class="box-selector-color" [ngStyle]="{'background-color':'#dd3333'}" type="radio" name="radio" />
            </label>

            <label class="color-box">
                <input class="box-selector-color" [ngStyle]="{'background-color':'#37b24d'}" type="radio" name="radio" />
            </label>
            <label class="color-box">
                <input class="box-selector-color" [ngStyle]="{'background-color':'#222222'}" type="radio" name="radio" />
            </label>
        </div>

        <span class="stock"> {{product.amount}} in stock</span>
        <form class="form-quantity-cart">
            <app-quantity-buttons
            [itemId]="product.id"
            [stockAmount]="product!.amount"
            ></app-quantity-buttons>
            <button (click)="onAddToCart()" type="button" class="add-cart"> ADD TO CART</button>
        </form>

        <div class="tab-more-info">
            <!-- Tabs con pestaña description, aditional information, reviews(number), meta information -->
        </div>
    </div>
</section>